{% extends 'layout.html.twig' %}

{% block title %}Detail media | {{ parent() }}{% endblock %}

{% block content %}
    <div class="container">
        {% if typeMedia == "Musique" %}
            <div class="row" style="max-height: 600px">
                <div class="col-md-6 text-center card mt-5 ">
                    <h1 class="my-2 patua">
                        {{ media.name}}
                    </h1>
                    <picture>
                        {% if isPicture %}
                            <img class="img-thumbnail rounded mx-auto d-block mb-3" height="400" width="400" src="{{ asset('files/pictures/'~ media.picture ~'.jpg') }}" alt="{{ media.name }}">
                        {% else %}
                            <img class="img-thumbnail rounded mx-auto d-block mb-3" height="400" width="400" src="{{ asset('img/Rocking_chair_logo.png') }}" alt="{{ media.name }}">
                        {% endif %}
                    </picture>
                    <audio controls="controls" class="mx-auto">
                        <source src="{{ asset('files/medias/'~ media.id ~'.'~ media.extension ) }}" type="audio/{{ media.extension }}" />
                        Your browser does not support the audio tag.
                    </audio>
                </div>
                <div class="col-md-5" >
                    <div class="text-center card mt-5 col-md-12" style="width: 500px">
                        <h2 class="font-weight-bold">Author</h2>
                        <div><h3>{{ media.utilisateur.firstname ~' '~ media.utilisateur.lastname }}</h3></div>
                    </div>
                    <div class="text-center card mt-2 col-md-12" style="width: 500px">
                        <h2 class="font-weight-bold">Date de création</h2>
                        <div><h3 >{{ media.dateCreated|date("d/m/Y")}}</h3></div>
                    </div>
                    <div class="text-center card mt-2 col-md-12" style="width: 500px">
                        <h2 class="font-weight-bold">Description</h2>
                        <div><p>{{ media.description }}</p></div>
                    </div>

                    <div class="text-center card mt-2 col-md-12" style="width: 500px">
                        <ul class="list-group mt-2 mb-3 liste-genres">
                            {% for genre in media.genre %}
                                <li class="list-group-item">{{ genre.name }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="text-center mt-2 font-weight-bold ">
                        <a href="{{ asset('files/medias/'~ media.id ~'.'~media.extension) }}" download="{{ media.name ~'.'~ media.extension }}" class="btn shadow btn-lg btn-success">Télécharger</a>
                    </div>
                </div>
            </div>

        {% elseif typeMedia == "Film" %}

            <div class="row">
                <div class="col-md-8 text-center card mx-auto mt-3 pb-3">
                    <h1 class="my-2 patua">
                        {{ media.name}}
                    </h1>
                    <video width="640" height="360" class="mx-auto" controls>
                        <source src="{{ asset('files/medias/'~ media.id ~'.'~media.extension) }}" type="video/{{ media.extension }}">
                        Your browser does not support the video tag.
                    </video>
                </div>
            </div>
            <div class="row">
                <div class="text-center mt-3 mx-left col-md-4" style="width: 500px">
                    <div class="card"> <h2>Author</h2>
                        <div><h3 class="font-weight-bold">{{ media.utilisateur.firstname ~' '~ media.utilisateur.lastname }}</h3></div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="text-center mt-4 font-weight-bold ">
                        <a href="{{ asset('files/medias/'~ media.id ~'.'~media.extension) }}" download="{{ media.name ~'.'~ media.extension }}" class="btn shadow btn-lg btn-success btn-block">Télécharger</a>
                    </div>
                </div>
                <div class="text-center mt-3 mx-left col-md-4" style="width: 500px">
                    <div class="card"> <h2>Creation Date</h2>
                        <div><h3 class="font-weight-bold">{{ media.dateCreated|date("d/m/Y") }}</h3></div>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="text-center card mt-2 col-md-5 mr-3" style="width: 500px">
                    <ul class="list-group mt-2 mb-3 liste-genres">
                        {% for genre in media.genre %}
                            <li class="list-group-item">{{ genre.name }}</li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-md-6 text-center card mt-3 mx-auto" style="width: 500px">
                    <h2>Description</h2>
                    <div><p>{{ media.description }}</p></div>
                </div>
            </div>
        {% elseif typeMedia == "Image" %}
            <div class="row">
                <div class="col-md-6 card mx-auto text-center rounded mt-3 shadow">
                    <h1 class="my-2 patua ">{{ media.name }}</h1>
                    <img class="img-thumbnail rounded mx-auto d-block mb-3" src="{{ asset('files/medias/'~ media.id ~'.'~media.extension) }}" type="image/{{ media.extension }}"/>
                </div>
                <div class="col-md-5" >
                    <div class="text-center card mt-5 col-md-12 bg-light shadow" style="width: 500px">
                        <h2>Author</h2>
                        <div><h3 class="font-weight-bold">{{ media.utilisateur.firstname ~' '~ media.utilisateur.lastname }}</h3></div>
                    </div>
                    <div class="text-center card mt-2 col-md-12 bg-light shadow" style="width: 500px">
                        <h2>Description</h2>
                        <div><p>{{ media.description }}</p></div>
                    </div>
                    <div class="text-center card mt-2 col-md-12" style="width: 500px">
                        <ul class="list-group mt-2 mb-2 liste-genres">
                            {% for genre in media.genre %}
                                <li class="list-group-item">{{ genre.name }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="text-center mt-5 font-weight-bold ">
                        <a href="{{ asset('files/medias/'~ media.id ~'.'~media.extension) }}" download="{{ media.name ~'.'~ media.extension }}" class="btn shadow btn-lg btn-success">Télécharger</a>
                    </div>

                </div>
            </div>
        {% else %}
            <div class="row">
                <div class="col-md-6 mx-auto  card bg-light shadow text-center mt-5 pb-3 font-weight-bold">
                    <h1 class="patua">{{ media.name ~'.'~ media.extension }}</h1>
                    <h3 class="text-left">Description : </h3>
                    <p class="text-left">{{ media.description }}</p>
                    <h3 class="text-left"><b>Auteur : </b>{{ media.utilisateur.firstname ~' '~ media.utilisateur.lastname }}</h3>
                    <a href="{{ asset('files/medias/'~ media.id ~'.'~media.extension) }}" download="{{ media.name ~'.'~ media.extension }}" class="btn shadow btn-lg btn-success">Télécharger</a>

                </div>
            </div>
        {% endif %}

    </div>



{% endblock %}