{% extends 'layout.html.twig' %}

{% block title %}Create Media | {{ parent() }}{% endblock %}

{% block content %}
    <div class="container">
        <div class="row mx-auto">
            <div class="col-md-6 card mx-auto mt-3 mb-3 p-3">
                <h1 class="text-center patua">Create your media</h1>
                {{ form_start(form) }}

                <div class="form-group">
                    <label for="uploadedFile">File</label>
                    <input type="file" class="form-control-file" id="uploadedFile" name="uploadedFile">
                </div>

                {{ form_widget(form) }}
                <div class="text-center">
                    <button class="btn btn-success btn-lg" type="submit">Add</button>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script>
        $('#appbundle_media_typeMedia').change(function () {
            var typeMediaSelector = $(this);

            // Request the genres of the selected typeMedia.
            $.ajax({
                url: "{{ path('media_list_genres') }}",
                type: "GET",
                dataType: "JSON",
                data: {
                    typeMediaId: typeMediaSelector.val()
                },
                success: function (genres) {
                    var genresSelect = $("#appbundle_media_genres");

                    // Remove current options
                    genresSelect.html('');

                    // Empty value ...
                    genresSelect.append('<option value> Select a genre of ' + typeMediaSelector.find("option:selected").text() + ' ...</option>');


                    $.each(genres, function (key, genre) {
                        genresSelect.append('<option value="' + genre.id + '">' + genre.name + '</option>');
                    });
                },
                error: function (err) {
                    alert("An error ocurred while loading data ...");
                }
            });
        });
    </script>
{% endblock %}