{% extends 'layout.html.twig' %}

{% block title %}Liste des médias | {{ parent() }}{% endblock %}

{% block content %}
    {# Get current route #}
    {% set currentRoute = path(app.request.attributes.get('_route'),app.request.attributes.get('_route_params')) %}

    <div class="container">
        <div class="row ">

            <div class="col-md-12 mx-auto text-center mt-4">
                <h1 class="patua">Media</h1>
            </div>

            <div class="col-md-10 mx-auto">
                <div class="col-md-12 mx-auto text-center mt-2 mb-2">
                    <a class="hvr-grow" href="{{ path('media_create') }}">
                        <img width="80" src="{{ asset('img/plus.svg') }}" alt="add">
                    </a>
                </div>
                <table class="table table-hover bg-light">
                    <thead class="thead-dark">
                    <tr class="text-center" >
                        <th scope="col" style="width: 15%">Image</th>
                        <th scope="col" style="width: 50%">Nom</th>
                        {% if currentRoute != ('/Rockin_Share/public/account/mymedia/list') %}
                            <th scope="col" style="width: 50%">Auteur</th>
                            <th scope="col" style="width: 50%">Date de Création</th>
                        {% endif %}
                        <th scope="col" style="width: 25%">Type</th>
                        <th scope="col" style="width: 10%">view</th>
                        {% if is_granted('ROLE_ADMIN') or currentRoute == ('/Rockin_Share/public/account/mymedia/list') %}
                            <th scope="col" style="width: 10%">Edit</th>
                            <th scope="col" style="width: 10%">delete</th>
                        {% endif %}

                    </tr>
                    </thead>
                    <tbody>
                    {% set loopValue = 0 %}
                    {% for media in listeMedias %}
                        <tr class="text-center" id="table-media">
                            <td>
                                <picture>
                                    {% if arrayIsPicture[loopValue] is same as(true)%}
                                        <a href="{{ path('media_detail',{'id':media.id}) }}">
                                            <img class="img-thumbnail rounded mx-auto d-block mb-3" src="{{ asset('files/pictures/' ~ media.getPicture()) }}.jpg" width="128" alt="{{ media.name }}">
                                        </a>
                                    {% else %}
                                        <img class="img-thumbnail rounded mx-auto d-block mb-3" height="128" width="128"src="{{ asset('img/Rocking_chair_logo.png') }}" alt="{{ media.name }}">
                                    {% endif %}
                                </picture>
                            </td>
                            <td class="font-weight-bold">{{ media.name }}</td>
                            {% if currentRoute != ('/Rockin_Share/public/account/mymedia/list') %}
                                <td>{{ media.getUtilisateur().username }}</td>
                                <td>{{ media.dateCreated|date("d/m/Y")}}</td>
                            {% endif %}
                            <td>{{ media.getGenre()|first.getTypeMedia().name }}</td>
                            <td>
                                <a href="{{ path('media_detail',{'id':media.id}) }}">
                                    <img src="{{ asset('img/external.png') }}" width="28" alt="view detail">
                                </a>
                            </td>

                            {% if is_granted('ROLE_ADMIN') or currentRoute == ('/Rockin_Share/public/account/mymedia/list') %}
                                <td>
                                    <a href="{{ path('media_update',{'id':media.id}) }}">
                                        <img src="{{ asset('img/edit.png') }}" width="28" alt="view detail">
                                    </a>
                                </td>
                                <td>
                                    <a class="confirm-delete-btn" data-toggle="modal" data-id="{{ media.id }}" href="#confirm-delete">
                                        <img src="{{ asset('img/delete.png') }}" width="32" alt="external_link">
                                    </a>
                                </td>
                            {% endif %}
                        </tr>
                        {% set loopValue = loopValue + 1%}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <span id="btn-top" class="hvr-grow">
        <img  src="{{ asset('img/arrow-top.svg') }}" width="60" alt="go top">
    </span>

    {# Modal (media delete) #}
    <div class="modal fade" id="confirm-delete">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">x</button>
                </div>
                <div class="modal-body">
                    Do you really want to delete this media ?
                </div>
                <div class="modal-footer">
                    <a id="confirm-delete-link" href="" class="btn btn-success">Yep</a>
                    <button class="btn btn-danger" data-dismiss="modal">Nope !</button>
                </div>
            </div>
        </div>
    </div>

    {% block javascript %}
    <script>
    $( ".confirm-delete-btn" ).click(function() {
        var link = $( this );
        var id = link.data("id");
        $("#confirm-delete-link").attr("href", "{{ path('media_delete') }}/0/"+id);
        console.log(id);
    });
</script>
{% endblock %}
{% endblock %}