{% extends 'layout.html.twig' %}

{% block title %}Genre List | {{ parent() }}{% endblock %}

{% block content %}
    <div class="container">
        <div class="row mx-auto">

            <div class="col-md-8 mx-auto text-center">
                <h1 class="patua mt-3">Genres List</h1>

                <div class="form-group  col-md-3 mx-auto text-center">
                    <form action="{{ path('genre_list_filter') }}" method="post">
                        <select class="form-control" id="filter_typeMedia" name="filter" onchange="this.form.submit();">
                            <option value="0" selected>No filter</option>
                            {% for type in types %}
                                {% if idTypeMedia == type.id %}
                                    <option value="{{ type.id }}" selected>{{ type.name }}</option>
                                {% else %}
                                    <option value="{{ type.id }}">{{ type.name }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </form>
                </div>

            </div>

            <div class="col-md-6 mx-auto">
                <table class="table table-hover bg-light">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Type</th>
                        <th scope="col">Edit</th>
                        <th scope="col">Delete</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for genre in genres|sort %}
                        {% if idTypeMedia is not null and idTypeMedia == genre.typeMedia.id %}
                            <tr>
                                <td>{{ genre.name }}</td>
                                <td>{{ genre.typeMedia.name }}</td>
                                <td>
                                    <a href="{{ path('genre_update',{'id':genre.id}) }}">
                                        <img src="{{ asset('img/edit.png') }}" width="28" alt="view detail">
                                    </a>
                                </td>
                                <td>
                                    <a class="confirm-delete-btn" data-id="{{ genre.id }}" data-toggle="modal" href="#confirm-delete">
                                        <img src="{{ asset('img/delete.png') }}" width="32" alt="delete">
                                    </a>
                                </td>
                            </tr>
                        {% endif %}
                        {% if idTypeMedia is null %}
                            <tr>
                                <td>{{ genre.name }}</td>
                                <td>{{ genre.typeMedia.name }}</td>
                                <td>
                                    <a href="{{ path('genre_update',{'id':genre.id}) }}">
                                        <img src="{{ asset('img/edit.png') }}" width="28" alt="view detail">
                                    </a>
                                </td>
                                <td>
                                    <a class="confirm-delete-btn" data-id="{{ genre.id }}" data-toggle="modal" href="#confirm-delete">
                                        <img src="{{ asset('img/delete.png') }}" width="32" alt="delete">
                                    </a>
                                </td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>

        </div>
    </div>

    <div class="col-md-12 mx-auto text-center mt-2 mb-2">
        <a class="hvr-grow" href="{{ path('genre_create') }}">
            <img src="{{ asset('img/plus.png') }}" alt="add">
        </a>
    </div>

    {# Modal #}
    <div class="modal fade" id="confirm-delete">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">x</button>
                </div>
                <div class="modal-body">
                    Do you really want to delete this genre ?
                </div>
                <div class="modal-footer">
                    <a id="confirm-delete-link" href="" class="btn btn-success">Yep</a>
                    <button class="btn btn-danger" data-dismiss="modal">Nope !</button>
                </div>
            </div>
        </div>
    </div>



{% endblock %}

{% block javascript %}
<script>
$( ".confirm-delete-btn" ).click(function() {
        var link = $( this );
        var id = link.data("id");
        $("#confirm-delete-link").attr("href", "{{ path('genre_delete') }}/"+id);
        console.log(id);
    });
</script>
{% endblock %}