{% extends 'layout.html.twig' %}

{% block title %}Login | {{ parent() }}{% endblock %}

{% block content %}

    {% if error %}
        <div class="alert alert-danger text-center" role="alert">
            {{ error.messageKey|trans(error.messageData, 'security') }}
        </div>
    {% endif %}

    <div class="container">
        <div class="row">
            <div class="col-md-4 card p-3 mt-5 mx-auto">

                <form action="{{ path('login') }}" method="post">

                    <div class="form-group">
                        <label for="username">Username</label>
                        <input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}">
                    </div>

                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" id="password" name="_password">
                    </div>

                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                    <input type="hidden" name="_target_path" value="/" />

                    <div class="text-center">
                        <button class="btn btn-lg btn-success mx-auto text-center" type="submit">Login</button>
                    </div>
                </form>
            </div>
        </div>
    </div>



{% endblock %}