{% extends 'layout.html.twig' %}

{% block title %}Administration | {{ parent() }}{% endblock %}

{% block content %}
    <div class="container">
        <div class="row mx-auto ">

            <div class="col-md-12 bg-light border shadow rounded mt-3 p-4 text-center mx-auto">
                <h1 class="patua">Administration</h1>
                <hr>
                <div class="container">
                    <div class="row ">
                        <div class="col-md-3 mt-2 text-center">
                            <a href="{{ path('media_list') }}" class="btn btn-lg btn-warning font-weight-bold" style="width: 150px">Medias</a>
                        </div>

                        <div class="col-md-3  mt-2 text-center">
                            <a href="{{ path('genre_list') }}" class="btn btn-lg btn-warning font-weight-bold" style="width: 150px">Genres</a>
                        </div>

                        <div class="col-md-3 mt-2 text-center">
                            <a href="{{ path('type_list') }}" class="btn btn-lg btn-warning font-weight-bold" style="width: 150px">Types Media</a>
                        </div>

                        <div class="col-md-3 mt-2 text-center">
                            <a href="{{ path('user_list') }}" class="btn btn-lg btn-warning font-weight-bold" style="width: 150px">Users</a>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>

{% endblock %}