
<nav class="navbar navbar-expand-md navbar-light bg-light">
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link nav-link-left hvr-underline-from-center border-left-2 border-right border-dark" href="{{ path("home") }}">Home</a>
            </li>
                <li class="nav-item">
                    <a class="nav-link nav-link-left hvr-underline-from-center border-left border-right border-dark" href="{{ path("media_list") }}">Films</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-link-left hvr-underline-from-center border-left border-right-2 border-dark" href="{{ path("media_list") }}">Musiques</a>
                </li>
        </ul>
    </div>
    <div class="mx-auto order-0">
        <a class="navbar-brand mx-auto" href="{{ path("home") }}">
            <img src="{{ asset('img/Rocking_chair_brand.png') }}" height="75" alt="Rockin' Chair">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2 ">
        <ul class="navbar-nav ml-auto ">
            <li class="nav-item hvr-underline-from-center ">
                <a class="nav-link border-left-2 border-right border-dark" href="#">Login</a>
            </li>
            <li class="nav-item hvr-underline-from-center ">
                <a class="nav-link border-left border-right-2 border-dark" href="{{ path("register") }}">Register</a>
            </li>

        </ul>
    </div>
</nav>